export POSTGRESS_ADDRESS="<replace-it>"
export POSTGRESS_PORT="<replace-it>"
export POSTGRESS_USERNAME="<replace-it>"
export POSTGRESS_PASSWORD="<replace-it>"
export POSTGRESS_DBNAME="<replace-it>"
export POSTGRESS_SSLROOTCERT="<replace-it>"
export HPCS_ADDRESS="<replace-it>"
export HPCS_PORT="<replace-it>"
export HPCS_INSTANCE_ID="<replace-it>"
export HPCS_IAM_KEY="<replace-it>"
export HPCS_IAM_ENDPOINT="<replace-it>"
export SECURE_ENCLAVE_PATH="<replace-it>"