#support db type is mysql and pg
export DB_TYPE="mysql"
export DB_ADDRESS="<replace-it>"
export DB_PORT="<replace-it>"
export DB_USERNAME="<replace-it>"
export DB_PASSWORD="<replace-it>"
export DB_DBNAME="<replace-it>"
export DB_SSLROOTCERT="<replace-it>"
export HPCS_ADDRESS="<replace-it>"
export HPCS_PORT="<replace-it>"
export HPCS_INSTANCE_ID="<replace-it>"
export HPCS_IAM_KEY="<replace-it>"
export HPCS_IAM_ENDPOINT="<replace-it>"
export SECURE_ENCLAVE_PATH="/Users/spark/workspace/go/full-temperature-wallet-solution"